h1 {
    margin-top: 12px;
    font-size: 20px;
}

h2 {
    font-weight: bold;
    color: white;
    font-size: 15px;
}

.handle {
    text-decoration: none;
    color: rgb(110, 118, 125);
    font-size: 13px;
    margin-bottom: 12px;
}

.profile {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.wd-post-content {
    width: 506px;
    margin-bottom: 12px;
}

.wd-text-bottom-border {
    border: 1px solid rgb(47, 51, 54);
}

.fa-comment {
    color: white;
}

.wd-relative60-50 {
    position: relative;
    left: 60px;
    bottom: 50px;
}

.wd-padding12 {
    padding: 12px;
}


