h1 {
    margin-top: 12px;
    font-size: 20px;
}

.handle {
    text-decoration: none;
    color: rgb(110, 118, 125);
    font-size: 13px;
    margin-bottom: 12px;
}

.profile {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.wd-post-content {
    width: 506px;
    margin-bottom: 12px;
}


