body {
    color: #212429;
}

p {
    color: white;
}

#search {
    border-color: rgb(47, 51, 54);
    background-color: darkgray;
    border-radius: 24px;
    margin-right: 12px;
}

::placeholder {
    color: white;
    margin-left: 6px;
}

.wd-selected-tab {
    color: rgb(29,161,242);
    border-bottom: 5px solid rgb(29,161,242);
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    padding: 16px;
}

.wd-suggested-posts {
    padding-top: 20px;
}

ul li a {
    text-decoration: none;
    color: rgb(110, 118, 125);
    font-family: sans-serif;
    font-size: 13px;
}

ul li h4 {
    color: white;
    font-family: sans-serif;
}


.post-image {
    width: 100px;
    height: 100px;
    border-radius: 16px;
}





.fa-gear {
    color: white;
    border-right: 12px;
    float: right;
}

