body {
    background-color: black;
    margin-left: 16px;
    border-right: 2px solid rgb(47, 51, 54);
    border-left: 2px solid rgb(47, 51, 54);
    color: white;
    font-family: sans-serif;
    padding: 10px;
}

.wd-hr-grey {
    border-top: 1px solid rgb(47, 51, 54);
    margin-bottom: 12px;
}

.wd-post-list {
    list-style-type: none;
}

.author {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-float-done {
    clear: both;
}

.wd-post {
    list-style-type: none;
    border-top: 2px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
    padding: 12px;
}

.wd-gray {
    color: rgb(47,51,54);
}

.text-gray {
    color: rgb(110, 118, 125)
}

.wd-border-radius {
    border-radius: 16px;
}

.wd-icon {
    height: 48px;
    width: 48px;
    color: white;
}